[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
numpy = "*"
tensorflow-cpu = "*"
keras = "*"
opencv-python = "*"
pipenv = "*"
gunicorn = "*"
django-heroku = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
